#description{
  color: white;
  display: grid;
  grid-template-columns: repeat(4,1fr) .8fr;
  grid-template-rows: 1fr;
}
#title{
  margin-right: 10%;
  font-family: 'Pacifico', cursive;
  grid-column: span 1;
  grid-row: span 1;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  /* justify-self: end; */
  text-align: right;
}
/* #title h1{
  grid-column: span 1;
  grid-row: span 1;
  align-self: center;
} */
.circle2{
  grid-column: span 1;
  grid-row: span 1;
  align-self: end;
  background-color: #212121;
  border-radius: 100%;
  width: 70%;
  max-width: 65px;
  text-align: center;
  vertical-align: center;
  justify-self: end;
  align-self: center;
  display: flex;
  position: relative;
  /* padding-top: 100%; */
}
.circle2:before{
  content:"";
  display: block;
  padding-top:100%;
}
.circle2 h1{
  align-self: center;
}

#abouttext{
  margin-left: 10%;
  grid-column: span 3;
  grid-row: span 1;
  align-self: center;
  font-family: 'Roboto', sans-serif;
  /* background-color: red; */
  /* justify-self: start; */
}
#morespace{
  grid-column: span 1;
}
#cite{
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: .2fr 1fr;
  /* margin-top:10px; */
  background-color:#AED581;
  color:white;
  font-family: 'Roboto', sans-serif;
}
#citations{
  grid-column: span 1;
  grid-row: span 2;
}
#sourcestitle{
  margin-top: 25px;
  margin-bottom: 25px;
  grid-column: span 1;
  grid-row:span 1;
  margin-right: 10%;
  font-family: 'Pacifico', cursive;

  grid-column: span 1;
  grid-row: span 1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7,1fr);
  /* justify-self: end; */
  text-align: right;
}
#cite p{
  font-size: 14px;
  /* grid-column: span 1 */
  /* grid-row:span 1; */
  margin:0;
  margin-bottom: 15px;
  width: 100%;
}

body{
    background-color:#AED581;
}
